@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins";
  overflow-x: hidden;
}
.multiline-ellipsis-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}
p {
  color: #666666;
}
input,
select {
  border: none;
}
input:focus,
select:focus {
  @apply focus:ring-0;
}
/* Chrome, Safari, Edge, Opera */
.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputNumber {
  -moz-appearance: textfield;
}
.bg-primary {
  @apply bg-[#F8E3E8];
}

.bg-secondary {
  background-color: #fcf4f6;
}

.btn-primary {
  @apply bg-[#D74874];
}

.text-primary {
  @apply text-[#D74874];
}
.theme-container {
  @apply max-w-[100%]  md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1312px] mx-auto;
}
.dropdownContent::-webkit-scrollbar-thumb {
  height: 50%;
  border-radius: 99px;
  background-color: #eeb6c7;
  background-clip: padding-box;
  border: 4px solid white;
}
.dropdownContent::-webkit-scrollbar {
  width: 13px;
}

.my-account-btn {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes stretch {
  0% {
    box-shadow: 0 0 0 rgba(215, 72, 116, 0.5);
  }

  50% {
    box-shadow: 0px 0px 0px 15px rgba(215, 72, 116, 0);
  }
}

.hero-background {
  background-image: url("/homepage/hero-bg-min.webp");
}
.bg-linear {
  background: linear-gradient(
    89.18deg,
    rgba(0, 0, 0, 0.3) 1.81%,
    rgba(94, 94, 94, 0.567708) 40.37%,
    rgba(94, 94, 94, 0.3) 67.76%,
    rgba(217, 217, 217, 0) 99.22%
  );
}
.text-shadow {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.slide-linear-gradient {
  background: linear-gradient(
    0.68deg,
    #d74874 0.59%,
    rgba(215, 72, 116, 0.5) 41.77%,
    rgba(0, 0, 0, 0) 99.43%
  );
}
.vertical-lr {
  writing-mode: vertical-lr;
}

/* .trip-slider .splide__track {
  overflow: visible !important;
} */

.bg-img {
  background-image: url("/homepage/featured1.jpg");
}
.bg-img1 {
  background-image: url("/homepage/featured2.jpg");
}
.bg-img2 {
  background-image: url("/homepage/featured3.jpg");
}

.internal-pagination {
  top: 8px;
  bottom: auto !important;
  right: 8px;
  left: auto !important;
}

.internal-pagination button {
  width: 12px;
  height: 12px;
}
.internal-pagination button.is-active {
  width: 20px;
  height: 20px;
  transform: scale(1);
}

.bar-pagination,
.mid-bar-pagination {
  bottom: -1.5rem !important;
  gap: 2px !important;
}
.bar-pagination button,
.mid-bar-pagination button {
  background-color: #d9d9d9 !important;
  width: 40px;
  height: 8px;
  transition: background 200ms ease-in;
  border-radius: 0px;
  margin: 0px;
  overflow: hidden;
}
.bar-pagination li:first-of-type button,
.mid-bar-pagination li:first-of-type button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.bar-pagination li:last-of-type button,
.mid-bar-pagination li:last-of-type button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.bar-pagination button.is-active,
.mid-bar-pagination button.is-active {
  transform: scale(1);
  background-color: #d74874 !important;
  opacity: 1;
}
.internalhero {
  background-position: center center !important;
}

.featured-editorial-gradient {
  background: linear-gradient(
    0.68deg,
    #d74874 0.59%,
    rgba(215, 72, 116, 0.5) 41.77%,
    rgba(0, 0, 0, 0) 99.43%
  );
}

.editorial-content img {
  width: 100%;
  margin: 1rem 0;
}
.editorial-content p {
  margin-bottom: 2rem;
}
.editorial-content {
  font-size: 13px;
}
.editorial-content a {
  @apply text-primary font-normal underline;
}
.editorial-content blockquote,
.editorial-content iframe {
  width: 100%;
  margin: 1rem auto 1rem auto !important;
}

.editorial-content h1,
.editorial-content h2,
.editorial-content h3,
.editorial-content h4,
.editorial-content h5,
.editorial-content h6 {
  @apply font-bold text-2xl text-primary mb-4 mt-8;
}

@media (min-width: 1024px) {
  .bar-pagination {
    justify-content: flex-start !important;
    padding-left: 4px !important;
  }
}

.tgApprovedInput:checked ~ .tgApprovedLabel .tgApprovedKnob {
  transform: translateX(15px);
}

.filter-label {
  @apply font-medium text-lg inline-block;
}

.priceRangeInput {
  appearance: none;
  margin-right: 15px;
  width: 226px;
  height: 7px;
  background: #d9d9d9;
  border-radius: 5px;
  background-image: linear-gradient(#743d7d, #743d7d);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}
.priceRangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #743d7d;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.ratingInput:checked ~ .ratingLabel {
  background-color: #743d7d;
  color: white;
}

.rc-rate-star {
  margin-right: 0px !important;
}

.signinAuthImage {
  background-image: url("/images/auth-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 42px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 35%;
  margin: 10px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#menu-hotel-form {
  display: none;
}

.mapboxgl-map {
  height: 100%;
}

.marker {
  background-image: url("../public/images/map/mapbox-icon.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #743d7d !important;
  color: white !important;
  padding: 0 0 12px 0 !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #743d7d !important;
}
.mapboxgl-popup-close-button {
  width: 16px;
}
.mapboxgl-popup-content p {
  color: white;
}

.suggestion-dropdown::-webkit-scrollbar-thumb {
  height: 25%;
  border-radius: 99px;
  background-color: #eeb6c7;
  background-clip: padding-box;
  border: 4px solid white;
}
.suggestion-dropdown::-webkit-scrollbar {
  width: 13px;
}
.city-hero-img {
  height: 248px;
}
.city-img-overlay {
  background: linear-gradient(
    0.68deg,
    #d64d78 0.59%,
    rgba(213, 77, 120, 0.35) 56.19%,
    rgba(0, 0, 0, 0) 99.43%
  );
  height: 100%;
  position: absolute;
  width: 100%;
  top: 40px;
}

.smHotelImageStatsBg {
  background: linear-gradient(
    180deg,
    rgba(116, 61, 125, 1) 0%,
    rgba(217, 217, 217, 0) 110%
  );
}

.add-hotel-rating .rc-rate .rc-rate-star {
  color: #cacaca;
  transform: scale(1.2) !important;
  margin-right: 4px !important;
}

.video-container .play-icon {
  opacity: 0;

  transition: 0.3s;
}
.video-container:hover .play-icon {
  opacity: 1;
}
/* .slidebar-on-side .mid-bar-pagination{
    justify-content: flex-start !important;
} */

.sidebar-featured-slider .bar-pagination {
  width: 100%;
  justify-content: center !important;
}

.video-iframe-wrapper iframe {
  width: 100% !important;
}

.confirmation-table-grid {
  @apply grid grid-cols-[180px_1fr] gap-y-2 text-sm;
}

.confirmation-table-grid strong {
  @apply font-semibold;
}

.confirmation-table-room-card-wrapper {
  @apply py-3 px-4 md:px-10 border rounded-md mt-6;
}

.title-select option:not(:first-of-type) {
  color: black;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #d64d78;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.bg-linear-gradient {
  background: linear-gradient(
    0.68deg,
    #d74874 0.59%,
    rgba(215, 72, 116, 0.5) 41.77%,
    rgba(0, 0, 0, 0) 99.43%
  );
}

.checkBoxFilter {
  @apply w-6 h-6 rounded bg-[#F8E3E8] checked:bg-[#743D7D]  !important;
}

.countryFilterScrollbar::-webkit-scrollbar {
  width: 6px;
}
.countryFilterScrollbar::-webkit-scrollbar-thumb {
  height: 2rem;
  border-radius: 99px;
  background-color: #743d7d;
  background-clip: padding-box;
}
.countryFilterScrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 99px;
}

.sideRedBar::before {
  content: "";
  width: 2rem;
  height: 5px;
  background-color: #d74874;
  position: absolute;
  border-radius: 99px;
  left: 1.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.group-trip-content p {
  @apply first:mt-0 my-4 last:mb-0;
}

.group-trip-content h1,
.group-trip-content h2,
.group-trip-content h3,
.group-trip-content h4,
.group-trip-content h5,
.group-trip-content h6,
.group-trip-content strong {
  @apply text-lg text-primary font-bold;
}

.eventContent p {
  @apply mb-4;
}
.eventContent a {
  @apply text-blue-700 underline;
}
.crm-input {
  @apply border border-solid border-slate-300 !important;
}
.form-input {
  @apply border rounded-lg px-6 py-3 border-solid border-[#AAA9A9] mt-2 w-full text-sm md:text-base;
}
.review-comment-input {
  @apply border rounded-lg px-4 py-3 border-solid border-[#AAA9A9] w-full text-sm;
}

/* Date Range Css start */
.hotel-popup .rdrCalendarWrapper.rdrDateRangeWrapper {
  width: 100%;
}
.hotel-popup .rdrMonthAndYearWrapper {
  height: 40px !important;
}
.hotel-popup .rdrMonthAndYearPickers {
  flex: unset !important;
}
.hotel-popup .rdrMonthPicker {
  margin: 0px;
}
.hotel-popup .rdrMonthPicker select {
  font-size: 12px;
  padding: 4px 14px 4px 4px;
}

.hotel-popup .rdrYearPicker select {
  font-size: 12px;
  padding: 8px 20px 4px 8px;
}
.hotel-popup .rdrMonth {
  width: 100%;
}

.hotel-popup .rdrDays,
.hotel-popup .rdrWeekDays {
  display: grid;
  grid-template-columns: repeat(7, 35px);
}
.hotel-popup .rdrDay {
  height: 1.75rem;
  width: 2.9em;
  font-size: 12px;
}
.hotel-popup .rdrDayToday .rdrDayNumber span:after {
  bottom: 2px;
}
.hotel-popup .rdrDateDisplayWrapper {
  display: none;
}
/* Date Range Css end */

.hotel-popup .rooms-title {
  font-size: 10px;
}
.hotel-popup .rooms-minus {
  @apply w-4 h-4 flex items-center justify-center;
}
.hotel-popup .rooms-add {
  @apply w-4 h-4 flex items-center justify-center;
}
.hotel-popup .roomNo {
  @apply text-[10px] font-semibold;
}
.hotel-popup .adult-title,
.hotel-popup .child-title,
.hotel-popup .adult-length,
.hotel-popup .child-length {
  @apply text-[10px];
}

.hotel-popup .guestpopupwrapper,
.hotel-popup .adults-wrapper,
.hotel-popup .child-wrapper {
  margin-top: 4px;
}
.hotel-popup .rooms-length {
  @apply text-xs !important;
}
.hotel-popup .child-title + .child-age-text {
  font-size: 7px;
}

.hotel-date-popup-scroll::-webkit-scrollbar {
  width: 4px;
}
.hotel-date-popup-scroll::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #d64d78;
  background-clip: padding-box;
}
.hotel-date-popup-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 99px;
}
.hotel-popup .child-age-select {
  padding: 4px 20px 4px 4px;
  font-size: 10px;
}
.hotel-popup .child-age-select::-ms-expand {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.hotel-popup .child-title-wrapper {
  margin-top: -8px;
}

.account-dropdown::before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  box-shadow: 2px -2px 2px -1px rgb(0 0 0 / 10%);
  position: absolute;
  right: 50%;
  top: -5px;
  z-index: 1;
  transform: rotate(-45deg);
  background: #fff;
}

.page-content img {
  width: 100%;
  margin: 1rem 0;
}
.page-content p {
  margin-bottom: 1rem;
}
.page-content {
  font-size: 13px;
}
.page-content a {
  @apply text-primary font-normal underline;
}
.page-content blockquote,
.page-content iframe {
  width: 100%;
  margin: 1rem auto 1rem auto !important;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  @apply font-bold text-primary mb-4 mt-8;
}
